pkgbase = cnspec
pkgdesc = Cloud-Native Security and Policy Framework 
pkgver = 7.6.0
pkgrel = 1
url = https://mondoo.com
arch = x86_64
license = MPL 2.0
source = https://releases.mondoo.com/cnspec/7.6.0/cnspec_7.6.0_linux_amd64.tar.gz

sha256sums = a659a953c7e6669c79809eaa84c04458a5544d34f84f67a9a5d84d6969b32a82


pkgname = cnspec
