pkgbase = cnquery
pkgdesc = Cloud-Native Query - Asset Inventory Framework
pkgver = 7.1.0
pkgrel = 1
url = https://mondoo.com
arch = x86_64
license = MPL 2.0
source = https://releases.mondoo.com/cnquery/7.1.0/cnquery_7.1.0_linux_amd64.tar.gz

sha256sums = 24876347f1b31ec7a23226c44646590ca1961c54add699f68b706242f1c69375


pkgname = cnquery
