pkgbase = cnquery
pkgdesc = Cloud-Native Query - Asset Inventory Framework
pkgver = 7.6.0
pkgrel = 1
url = https://mondoo.com
arch = x86_64
license = MPL 2.0
source = https://releases.mondoo.com/cnquery/7.6.0/cnquery_7.6.0_linux_amd64.tar.gz

sha256sums = d838b2b222b3cfea8ef646283385422266489044ab4d5f48d91326938786e856


pkgname = cnquery
